.main{
    background: #fafafa;  
    .louceng{
        position: fixed;
        top: 0px;
        left: 0px;
        list-style: none;
        border: 4px solid #7bbe2b;
        display: none;
        li{
            border-bottom: 1px solid #7bbe2b;
            width: 42px;
            height: 41px;
            text-align: center;          
            font-size: 12px;
            color: #666666;
            z-index: 199;
            &:hover{background-color: #7bbe2b;color: white;}
        }
        
        li:nth-child(1),li:nth-child(2),li:nth-child(8),li:nth-child(9),li:nth-child(12){line-height: 41px;}
        li:nth-last-child{border-bottom: none;}
        li:nth-child(3),li:nth-child(4),li:nth-child(5),li:nth-child(6),li:nth-child(7),li:nth-child(11){padding-top: 3px;}
        li:nth-child(10){
            background:url(../images/xin.png) no-repeat center center;
            position: relative;
            .sp-2{
                position: absolute;
                top: 0px;
                left: -70px;
                display: inline-block;
                width: 70px;
                height: 42px;
                border: 4px solid #7bbe2b;
                display: none;
                font-size: 12px;
                a{font-size: 13px;color:#7bbe2b ;}
//              .sp-1{font-size: 12px;z-index: 300;display: inline-block;}
            }
            &:hover{
                background:url(../images/xin2.png) no-repeat center center;
                .sp-2{display: block;}
                background-color:#7bbe2b ;
                
                }
            };
        li:nth-child(11){
            position: relative;
            img{
                position: absolute;
                top: -52px;
                left: -118px;
                border: 4px solid #7bbe2b;
                display: none;
                
            }           
        }       
    }
    .lunbo{
        height: 360px;
        width: 100%;
        position: relative;       
        .lb{
            height: 360px;
            width: 100%;
            position: relative; 
            overflow: hidden;         
            li{
                list-style: none;
                float: left; 
                position: absolute;
                text-align: center;              
                img{
                    margin:0 -100%;
                    }
            }            
            }
        .circle{
            width: 180px;
            height: 30px;
            position: absolute;
            top: 330px;
            left: 565px;
//          background: orange;
            i{
               background:white;
               width: 14px;
               height: 14px;
               display: inline-block;
               border-radius: 50%;
               margin-right: 10px; 
              }
            .one{
                background: #ffc000;
                width: 30px;
                height: 14px;
                border-radius: 5px;
                }
            }
        }
    .jx{
        width: 1200px;
        height: 262px;
        margin: 14px 0 0 32px;
        position: relative;
        margin: 0 auto;
        .gt{
                height: 230px;
                width: 54px;
                position: absolute;
                top: 32px;
                left: 1140px;
                &>img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    &:hover{cursor: pointer;}
                    }
            }                      
        .im{
            height: 32px;
            position: relative; 
          img{
            position: absolute;
            top: 0;
            left: 517px;
            }  
        }
        .jx1{
            background: white;
            height: 230px;
            width: 1200px;
            box-shadow: 0px 3px 15px #C0C0C0;
            overflow: hidden;
            .uf1,.uf2,.uf3{
                width: 1146px;
                height: 230px;
                float: left;               
                li{
                    height: 230px;
                    width: 190px;
                    border-right: 1px solid #dddddd;
                    list-style: none;
                    float: left;               
                    &>img{
                        width: 160px;
                        height: 160px;
                        margin-top: 15px;
                        margin-left: 15px;
                        }                   
                    }
                }
            
            
        }
    }
    .vegetables{
        width: 1234px;
        height: 540px;
        margin: 0 auto;
        .ve{
            height: 80px;
            background: #fafafa;
           
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .vebox{
            height: 460px;
            background: url(../images/第一组图片/rBLsjlk3pjiAIrl1AAK-CARzKeo276.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
            
        }
    }
    .fruit{
        width: 1234px;
        height: 540px;
        margin: 0 auto;
        .fr{
            height: 80px;
            background: #fafafa;
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .frbox{
            height: 460px;
            background: url(../images/水果专区/rBLsjVk3pkCAHuo-AAJy8KAsih8845.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
        }
    }
    .seafood{
        width: 1234px;
        height: 540px;
        margin: 0 auto;
        .sea{
            height: 80px;
            background: #fafafa;
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .seabox{
            height: 460px;
            background: url(../images/海鲜水产/rBLsjlk3pkmAR-wxAAKznGIdHVc471.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
        }
    }
    .meat{
        width: 1234px;
        height: 540px;
        margin: 0 auto;
        .mea{
            height: 80px;
            background: #fafafa;
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .meabox{
            height: 460px;
            background: url(../images/精选肉类/rBLsjVk3plKAIzFxAAMbqzBY8Dg279.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
        }
    }
    .snacks{
        width: 1234px;
        height: 540px;
       margin: 0 auto;
        .sna{
            height: 80px;
            background: #fafafa;
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .snabox{
            height: 460px;
            background: url(../images/干货零食/rBLsjlk3plqAOai9AAMAwfooDZk318.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
        }
    }
    .seasoning{
        width: 1234px;
        height: 540px;
        margin: 0 auto;
        .sso{
            height: 80px;
            background: #fafafa;
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .ssobox{
            height: 460px;
            background: url(../images/厨房调料/rBLsjVk3pmSAIbjmAALGJSnk7gg969.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
        }
    }
    .frozenfood{
        width: 1234px;
        height: 540px;
        margin: 0 auto;
        .froz{
            height: 80px;
            background: #fafafa;
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .frozbox{
            height: 460px;
            background: url(../images/速冻食品/rBLsjlk3pmuAMMq-AAJYzlKWxuM780.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
        }
    }
    .grainandoil{
        width: 1234px;
        height: 540px;
        margin: 0 auto;
        .gra{
            height: 80px;
            background: #fafafa;
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .grabox{
            height: 460px;
            background: url(../images/粮油专区/rBLsjVk3pnKAHMp1AAMJBHYu65w158.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
        }
    }
    .drinks{
        width: 1234px;
        height: 540px;
       margin: 0 auto;
        .drin{
            height: 80px;
            background: #fafafa;
            span{display: inline-block;}
            .sp1{
                font-size: 23px;
                float: left;
                padding-top: 46px;
                margin-left: 44px;
                color: #666666;
                }
            .sp2{
                font-size: 14px;
                float: left;
                padding-top: 54px;
                color: #666666;
                i{margin-left: 12px;margin-right: 8px;}
                }
        }
        .drinbox{
            height: 460px;
            background: url(../images/饮料专区/rBLsjlk3pniAWzv3AAJ39obmBLk646.png) no-repeat -16px 0px;
            background-color: white;
            a{display: inline-block;width: 434px;height: 460px;}
        }
        .shouwei{
            width: 100%;
            height: 50px;
        }
    }
}
