*{margin: 0;padding: 0;box-sizing: border-box;}
.u0one{
        background: #f1f1f1;
        width: 100%;
        height: 30px;        
        .u0{
            height: 30px;
            width: 1280px;           
            margin: 0 auto;    
            li{
                float: left;
                list-style: none;
                line-height: 13px;
                font-size: 12px;
                color: #666666;
                line-height: 30px;
                }
            li:nth-child(1){
                padding-left:136px;
                 padding-right:690px;           
                }
            &>li:nth-child(2){
               
                padding-right: 12px;
                background: url("../images/1.gif") no-repeat right center;
                &:hover{
                    color:#7bbe2b;
                    cursor: pointer;
                    }
                }
            li:nth-child(3),li:nth-child(4){
                padding: 0 12px;
                background: url("../images/1.gif") no-repeat right center;
                &:hover{color:#7bbe2b;cursor: pointer;}
                } 
            li:nth-child(4){
                    height: 30px;
                    position: relative;
                    .erweima{
                       width: 300px;
                       height: 170px;
                       position: absolute;
                       top: 30px;
                       left: -190px;
                       box-shadow: 3px 3px 0.2 black;
                       border-radius: 5px;
    //                 border: 1px solid;
                       display: none;
                       background: white;
                       li{
                           float: left;
                           padding:0 15px;
                           border: none;
                           margin-top: 17px;
                           
                        }
                        li:nth-child(1){
                           .p0{padding-left: 21px;margin-top: -8px;font-size: 13px;} 
                        }
                        li:nth-child(2){
                           .p01{padding-left: 36px;margin-top: -8px;font-size: 13px;} 
                        }
                       
                    
                    }
                     &:hover{
                         background: white;
                         color: #7bbe2b;
                        ul{display: block}
                    }
                }
            li:nth-child(5){
                padding:0 12px;
                position: relative;
                height: 30px;
                .p1{
                    position: absolute;
                    top: 30px;
                    left: -9px;
                    width: 90px;
                    height: 38px;
    //              border: 1px solid;
                    line-height: 38px;
                    display: none;
                    color: black
                }
                &:hover{
                    background: white;
                    color: #7bbe2b;
                    .p1{display: block;}
                }
            }    
        }       
} 
.logo{
    width: 100%;
    height: 100px;
    .logo1{
        width: 1280px;
        height: 100px;
        margin: 0 auto;
        h1{
            width: 190px;
            height: 43px;
            margin: 28px 0 0 133px;
            a{
                display: block;
                width: 190px;
                height: 43px;
                background: url(../../dist/images/PC-LOGO.png) no-repeat center center;
                span{display: none;}
            }
        }
    }
} 
.banner{
    width:100%;
    height: 470px;
    background: #6fbd45;
    .banner1{
        height: 470px;
        width: 1280px;
        margin: 0 auto;
        padding-top: 126px;
        padding-left: 158px;
        position: relative;
        .lg{
            width: 328px;
            height: 436px;
           background: white;
            border: 1px solid #dddddd;
            border-bottom: none;
            border-radius: 5px;
            position: absolute;
            top: 32px;
            left: 808px;
            display: none;
            .kaishi{
                width: 328px;
                height: 400px;
                padding: 0 25px;
                h3{
                height: 85px;               
                line-height: 85px;
                };
                input{
                    outline: none;
                    height: 38px;
                    width: 278px;
                    margin-bottom: 20px;
                    &:nth-child(5){
                        width: 155px;
                        float: left;
                       
                    }
                    &:nth-child(6){
                        width: 100px;
                        float: left;
                        margin-left: 21px;
                        
                    }
                    &:nth-child(7){
                        width: 12px;
                        height: 12px;
                        border: 1px solid #b2b2b2;
                        border-radius: 2px; 
                        margin-bottom: 10px;               
                    }
                    &:nth-child(10){
                        margin-bottom: 0px;
                    } 
                    
                }
                .span1{font-size: 12px;}
                .span2{font-size: 12px;color: #7bbe2b;
                } 
            }
            
            .mowei{
                height: 35px;
                background: #f5f5f5;
                border-radius: 0 0 5px 5px;
                ul{
                    height: 15px;
                    padding-top: 7px;
                    li{
                        list-style: none;
                        float: left;
                        padding: 0 7px;
                        &:hover{cursor: pointer;}
                        &:nth-child(1){border-right: 1px solid #dde1e7;padding-left: 52px;}
                        a{
                            font-size: 15px;
                            text-decoration: none;
                            color: #ffc000;
                        }
                    }
                }
            } 
        }
        .lg2{
            width: 328px;
            height: 334px;
           background: white;
            border: 1px solid #dddddd;
            border-bottom: none;
            border-radius: 5px;
            position: absolute;
            top: 32px;
            left: 808px;
//          display: none;
            .kaishi2{
                height: 299px;
                width: 328px;
                padding: 0 25px;
                ul{
                    height: 96px;
                    background: url(../../dist/images/shugang.gif) no-repeat 110px 38px;
                    li{
                        list-style: none;
                        margin-top: 33px;
                        height: 26px;
                        float: left;
                        font-size: 17px;
                        &:hover{cursor:pointer}                      
                        &:nth-child(1){
                            border-bottom: 2px solid #ffc000;
                            width: 103px;
                            margin-right: 8px;
                           color:#ffc000;
                                      
                        }
                        &:nth-child(2){
//                         border-bottom: 2px solid #ffc000;
                           width: 119px; 
                           margin-left: 8px;
                           a{
                               text-decoration: none;
                               color: #666666;
                           }
                        }
                    }
                }
                input{
                    width: 278px;
                    height: 38px;
                    outline: none;
                    border:1px solid #dddddd;
                    &:nth-child(2){
                        background: url(../../dist/images/rentou.gif) no-repeat 0px 0px;                     
                        padding-left: 44px;
                        margin-bottom: 18px;
                    }
                    &:nth-child(3){
                        background:url(../../dist/images/suo.gif) no-repeat 0px 0px; ;
                        padding-left: 44px;
                    }
                    &:nth-child(4){
                        width: 12px;
                        height: 12px;
                        border: 1px solid #b2b2b2;
                        margin-top: 15px;
                        margin-bottom: 16px;
                        float: left;
                    }
                    &:nth-child(6){
                        border-radius: 5px;
                        background: #ffc000;
                        border: none;
                        &:hover{cursor: pointer;}
                    }
                }
                span{
                    font-size: 14px;
                    color: #dddddd;
                    float: left;
                    padding: 11px 0px 0px 6px;
                }
            };
            .mowei2{
                height: 35px;
                background: #f5f5f5;
                border-radius: 0 0 5px 5px;
                h3{
                    width: 90px;
                    color: #acbe2b;
                    font-weight: normal;
                    font-size: 17px;
                    margin-left: 209px;
                    padding-top: 8px;
                    &:hover{cursor: pointer;}
                    span{
                        width: 17px;
                        display: inline-block;
                        height: 17px;
                        border-radius: 50%;
                        background: #acbe2b;
                        color: white;
                        font-size: 15px;
                        padding-left: 3px;                      
                        margin-left: 5px;
                        line-height:17px;                      
                    }
                }
            }
        };
        .lg3{
            width: 328px;
            height: 328px;
           background: white;
            border: 1px solid #dddddd;
            border-bottom: none;
            border-radius: 5px;
            position: absolute;
            top: 32px;
            left: 808px;
            display: none;
            .kaishi3{
                height: 293px;
                width: 328px;
                padding: 0 25px;
                ul{
                    height: 96px;
                    background: url(../../dist/images/shugang.gif) no-repeat 110px 38px;
                    li{
                        list-style: none;
                        margin-top: 33px;
                        height: 26px;
                        float: left;
                        font-size: 17px; 
                        &:hover{cursor:pointer;}                     
                        &:nth-child(1){
//                          border-bottom: 2px solid #ffc000;
                            width: 103px;
                            margin-right: 8px;
                                                
                        }
                        &:nth-child(2){
                           border-bottom: 2px solid #ffc000;
                           width: 119px; 
                           margin-left: 8px;
                           color:#ffc000 ;
                        }
                    }
                };
                input{
                    width: 278px;
                    height: 38px;
                    outline: none;
                    border:1px solid #dddddd;
                     &:nth-child(2){
                        background: url(../../dist/images/rentou.gif) no-repeat 0px 0px;                     
                        padding-left: 44px;
                        margin-bottom: 18px;
                    }
                    &:nth-child(3){
                        width: 150px;
                        float: left;
                        padding-left: 6px;
                    }
                    &:nth-child(4){
                        width: 80px;
                        float: left;
                        margin-left: 30px;
                        border-radius: 5px;
                        outline: none;
                        background: #7bbe2b;
                        
                    };
                    &:nth-child(5){
                        margin-top: 27px;
                        background: #ffc000;
                        color: white;
                        border-radius: 5px;
                        outline: none;
                    }
                }
            }
            .mowei3{
                height: 35px;
                background: #f5f5f5;
                border-radius: 0 0 5px 5px;
                h3{
                    width: 90px;
                    color: #acbe2b;
                    font-weight: normal;
                    font-size: 17px;
                    margin-left: 209px;
                    padding-top: 8px;
                    &:hover{cursor: pointer;}
                    span{
                        width: 17px;
                        display: inline-block;
                        height: 17px;
                        border-radius: 50%;
                        background: #acbe2b;
                        color: white;
                        font-size: 15px;
                        padding-left: 3px;                      
                        margin-left: 5px;
                        line-height:17px;                      
                    }
                }
            }
        }
    }
    
}
.footer{
    width: 100%;
    height: 130px;
    .foot{
        width: 1280px;
        height: 130px;
        margin: 0 auto;
        ul{
            height: 21px;
            margin-top: 26px;
            li{
                list-style: none;
                float: left;
                padding:0 6px;               
                &:nth-child(1){
                    border-right: 1px solid #cf9566;
                    padding-left: 555px;
                }
                a{font-size: 16px;color: #000000;text-decoration: none;}
            }
        }
        p{margin-top: 16px;padding-left: 452px;}
    }
}   